
header, nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

img{ 
    margin: 1px;
    width: 15%;
}
.img2{
    margin: 1px;
    width: 3%;
}

a {
    margin: 1px;
    font-weight: bold;
    text-decoration: none;
}