
header, nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

img{ 
    width: 20%;
}
.img2{
    width: 5%
}

a {
    margin: 1px;
    font-weight: bold;
    text-decoration: none;
}